.card_wrap{
  position: absolute;
  transform-style: preserve-3d;
}
.card_wrap .card_front{
  width: 100%;
  height: 100%;
  background: url(../image/card_front02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  /* border: 1px solid #e6e6e6; */
}
.card_wrap .card_back{
  width: 100%;
  height: 100%;
  background: url(../image/card_back01.png) no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  /* border: 1px solid #e6e6e6; */
  backface-visibility: hidden;
}


.renewal_area {
  position: relative;
  text-align: center;
  /* z-index: 1; */
}
.renewal_area .inner{
  width: 1200px;
  margin: 0 auto;
  /* padding: 300px 100px 100px 100px; */
  padding: 300px 0 100px 0;
}

.renewal_area .inner .title_wrap{
  position: relative;
}

.renewal_area .img_wrap .card_wrap{
  width: 200px;
  padding-bottom: 320px;
}
.renewal_area .img_wrap .card_wrap.card_wrap01{
  transform:rotateX(-30deg) rotateY(180deg) rotate(30deg);
  left: 10px;
}
.renewal_area .img_wrap .card_wrap.card_wrap02{
  transform: rotateX(-36deg) rotateY(182deg) rotate(-45deg);
  top: 50px;
  right: 150px;
}
.renewal_area .img_wrap .card_wrap.card_wrap03{
  transform: rotateX(-20deg) rotateY(40deg) rotate(45deg);
  top: 450px;
  left: 50px;
}
.renewal_area .img_wrap .card_wrap.card_wrap04{
  transform: rotateX(-20deg) rotateY(200deg) rotate(30deg);
  top: 450px;
  left: 550px;
}
.renewal_area .img_wrap .card_wrap.card_wrap05{  
  transform: rotateX(-20deg)  rotateY(20deg) rotate(30deg);
  top: 400px;
  right: 0;
}
.renewal_area .img_wrap{
  width: 100%;
  height: 800px;
  position: relative;
  transform: scale(0.98);
  transition: 0.3s; 
}
.renewal_area .inner .title_wrap:hover .img_wrap{
  transform: scale(1);
}
.renewal_area .homeP_title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.renewal_area .homeP_title span{
  font-size: 30px;
}
.renewal_area .homeP_title h2{
  font-size: 140px;
  padding-top: 50px;
  line-height: 150px;
  /* font-size: 7.3vw; */
}
.renewal_area .homeP_title .button{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 80px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 60px;
  line-height: 80px;
  margin-top: 50px;
  font-size: 16px;
  transition: 0.3s;
  text-align: center;
}
.renewal_area .homeP_title .button:hover{
  background: rgba(0,0,0,1);
}
.renewal_area .content_area{
  text-align: center;
  padding-top: 100px;
}

.renewal_area .content_area .content_txt p{
  padding-bottom: 34px;
  font-size: 24px;
  font-family: 'MaruBuri-Regular';
  position: relative;
}
.renewal_area .content_area .content_txt p.large{
  font-size: 30px;
  padding-bottom: 40px;
}
.renewal_area .content_area .content_txt p span{
  border-bottom: 1px solid #000;
}