@font-face {
  font-family: 'RoslindaleText';
  src: url('../font/RoslindaleText-Regular.eot');
  src: local('../font/RoslindaleText Regular'), local('RoslindaleText-Regular'),
      url('../font/RoslindaleText-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/RoslindaleText-Regular.woff2') format('woff2'),
      url('../font/RoslindaleText-Regular.woff') format('woff'),
      url('../font/RoslindaleText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'MaruBuri-Regular';
  src: url('../font/MaruBuri-Regular.otf') format('ottf'),
  url('../font/MaruBuri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  overflow-x: hidden;
}

body{
  /* min-width: 1600px; */
  /* min-width: 1920px; */
  font-family: 'RoslindaleText', 'MaruBuri-Regular';
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none; 
  /* for Chrome, Safari, and Opera */
/* }

.scroll_wrap {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll_wrap::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.noise_bg {
  background: url(../image/noise.png) repeat;
  width: 200vw;
  height: 200vh;
  background-size: 200px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 200;
  pointer-events: none;
}

/* header */

header{
  /* min-width: 1920px; */
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* z-index: 100; */
  transition: 0.5s;
  color: #fff;
}
header .inner{
  padding: 30px;
  height: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;

}
header .header_left{
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  width: 100px;
  height: 50px;
  background: #000;
}
header .header_left .txt_wrap {
  display: flex;
  justify-content: space-between;
}
header .header_left .txt_wrap p{
  padding-left: 20px;
  font-size: 14px;
  font-family: 'Didact Gothic', sans-serif;
}
header .ham_btn{
  display: block;
  height: 100%;
  float: right;
  /* background: #000; */
}
header .ham_btn .btn_wrap{
  width: 28px;
}
header .btn_wrap .line{
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background: #fff;
  float: right;
}
header .btn_wrap .line.line_bottom{
  width: 86%;
  margin-bottom: 0;
}
header.on{
  background: #e5e7eb;
  color: #000;
  border-bottom: 1px solid #000;
}
header.on .line{
  background: #000;
}


footer {
  height: 100px;
  background: #000;
}
footer p {
  text-align: center;
  color: rgba(255,255,255,0.8);
  line-height: 1.5;
  font-size: var(--font_footer);
  transform: translateY(50%);
}